.developers_section {
	height: 70%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 14%;
}

.developers_section p {
	white-space: pre-wrap;
	background-color: #9AC1F0;
	color: black;
	padding: 10px 5px 1%;
	font-family: "Courier New";
	font-size: 1vw;
	display: inline-block;
	box-shadow: 5px 0px 10px gray;
	margin: 1%;
}

@media only screen and (max-width: 768px) {
    .developers_section {
        width: 70%;
	margin-top: 10%;
    }
    
    .developers_section p {
        font-size: 1.75vw;
    }
}

.developers_img1{
	width: 15%;
	height: 25%;
	position: absolute;
	bottom: 47%;
	left: 27.4%;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 2px gray;
}

.developers_img2{
	width: 15%;
	height: 25%;
	position: absolute;
	bottom: 47%;
	left: 44.4%;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 2px gray;
}

.developers_img3{
	width: 15%;
	height: 25%;
	position: absolute;
	bottom: 47%;
	left: 78.4%;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 2px gray;
}

.developers_img4{
	width: 15%;
	height: 25%;
	position: absolute;
	bottom: 47%;
	left: 61.4%;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 2px gray;
}

@media only screen and (max-width: 768px) {
    .developers_img1 {
	max-width: 95px;
        width: auto;
        bottom: 67%;
        left: 38%;
    }

    .developers_img2 {
	max-width: 95px;
        width: auto;
        bottom: 67%;
        left: 53.5%;
    }

    .developers_img3 {
	max-width: 95px;
        width: auto;
        bottom: 67%;
        left: 69%;
    }

    .developers_img4 {
	max-width: 95px;
        width: auto;
        bottom: 67%;
        left: 84.5%;
    }
}