


* {
  box-sizing: border-box;
}


.help_title {
	text-align: center;
	background-color: #dcc894;
	padding: 10px;
	width: 100%;
}


.help_box{
  background-color: #bed0db;
  width: auto;
  height: 80vh;
  border: 10px solid #2c586e;
  padding: 50px;
  margin: 20px;
}
.help_box p{
	text-align: justify;
}
.help_box h4{
	margin-top: 1.5em;
}
  
