.inventory_section_container {
	max-height: 700px;
	max-width: 700px;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.inventory_section{
	width: 700px;
	text-align: center;
}

.inventory_section p {
	white-space: pre-wrap;
	background-color: #DCC894;
	color: black;
	padding: 10px 5%;
	font-family: "Courier New";
	font-size: 1.75vw;
	border: 1px solid black;
	display: inline-block;
}