.inventory_section{
	position: relative;
	height: 100vh;
	width: 79%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.inventory_section p {
	white-space: pre-wrap;
	border-radius: 25px;
	background-color: #9AC1F0;
	color: white;
	padding: 10px 5%;
	font-family: "Courier New";
	font-size: 2.3vw;
	position: relative;
	z-index: 2;
	margin-left: 3%;
	margin-top: 40%;
}