*{
	margin:0;
}
body {

}
li{
	list-style:none;
}

/*Navigation Bar*/
.nav_bar{
	background-color:white;
	display:block;
	float:left;
	width: 21vw;
	height: 100vh;
	box-shadow: 5px 0px 10px #f0f0f0;
}
.main_nav{
	position: relative;
	display:block;
	top:8vh;
}
.misc_nav{
	position: absolute;
	display:block;
	bottom:0;
}
.nav_bar li{
	font-family : Arial Black;
	font-style : strong;
	display:block;
	margin:21px 0px;
	padding: 21px;
	width:13vw;
	border-radius:5px;
	box-shadow: 5px 0px 10px #dbdbdb;
}
