*{
	margin:0;
}
p {
	display: inline;
	width: auto;
}
li{
	list-style:none;
}
a{
	color: inherit; 
 	text-decoration: inherit; 
}
body{
	width: 100vw;
	display: flex;
}

/*Navigation Bar*/
.nav_bar{
	background-color:white;
	display:block;
	float:left;
	width:21vw;
	max-width: 340px;
	min-width: 240px;
	height: 100vh;
	box-shadow: 5px 0px 10px #f0f0f0;
	position: relative;
}
.nav_bar svg{
	height: 2em;
}
.nav_bar p{
	margin-left: 8px;
}
.main_nav{
	position: relative;
	display:block;
	top:8vh;
}
.misc_nav{
	position: absolute;
	display:block;
	bottom:0;
}
.nav_bar li{
	font-family : Arial Black;
	font-style : strong;
	font-size: 1em;
	align-items: center ;
	display:flex;
	margin:21px 0px;
	padding: 13px;
	width:13vw;
	max-width:210px;
	min-width: 130px;
	border-radius:5px;
	box-shadow: 5px 0px 10px #dbdbdb;
}

/*Main Section*/
.main_section{
	position: relative;
	height: 100vh;
	width: 79vw;
}

/* Start of Login CSS*/

.login_Body{
    position: relative;
    z-index: 3;
	width: 725px;
    margin: auto;
    padding: 50px 20px 25px;
    border-radius: 1.25rem;
    background-color: #dcc894;
    text-align: center;
}

.login_Body > h2{
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 24px;
}

.login_Body > h3 {
	font-size: 16px;
	color: grey;
	font-weight: 500;
	margin: 0 0 16px;
	font-size: 1rem;
}

.login_Form {
	width: 100%;
	margin: 0;
	display: grid;
	gap: 20px;
}

.login_Form > input, .login_Form > button {
	width: 100%;
	height: 50px;
}

.login_Form > input {
	border: 2px transparent;
	font-size: 16px;
	padding: 16px;
	border-radius: 1rem;
}

.login_Form > input:hover {
	border: 2px solid #dd9f52;
}

.login_Form > button {
	border: 2px transparent;
	font-size: 16px;
	padding: 16px;
	border-radius: 1rem;
	letter-spacing: 2px;
}

.login_Form > button:hover {
	border: 2px solid #dcc894;
	background: #dd9f52;
	color: #f0f0f0;
}

.login_Form > a {
	text-decoration: underline;
	color: #2c586e;
	font-size: 1rem;
}

.login_Form a:hover {
	color: #3c7997;
}
/*End of Login CSS*/

/*Start of Account Settings CSS*/
.accountSettings_body {
    position: relative;
    display: flex;
    width: 500px;
    margin: 0 0 24px;
	border: 1rem solid black;
  }
  
  .accountSettings_body > h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  
  .security_form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 20px;
  }
  
  .settings_form > label {
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.5rem;
  }
  
  .settings_form > input, .settings_form > button {
    width: 100%;
    height: 40px;
    gap: 16px;
  }

  .settings_form > input {
    padding: 8px;
    border-radius: 16px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 27px;
  }

  .settings_form > button {
    border-radius: 1rem;
    background-color: #dd9f52;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .settings_form > button:hover{
    border: 2px solid #dcc894;
  }
/*End of Account Settings CSS*/

/*Start of Account Manager Settings CSS*/

.accountManager_Body {
	padding: 20px;
	font-family: Arial, sans-serif;
	max-width: 400px;
	margin: 0 auto;
  }
  
  .accountManager_Body > h2 {
	text-align: center;
  }
  
  .admin_Form {
	margin-top: 20px;
  }
  
  .adminSetting_Form > label {
	display: grid;
	margin-bottom: 5px;
  }
  
  .adminSetting_Form > input {
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
	margin-bottom: 10px;
  }
  
  .adminSetting_Form > input:hover {
	border-color: #8da1af;
  }
  
  .adminSetting_Form > button {
	width: 100%;
	padding: 10px;
	background-color: #2c586e;
	color: #fff;
	border: none;
	border-radius: 3px;
  }
  
  .adminSetting_Form > button:hover {
	border-color: 2px solid #8da1af;
  }

/*End of Account Manager Settings CSS*/